{
  "extends": "@atomix/react",
  "rules": {
    "prefer-promise-reject-errors": "off",
    "no-param-reassign": "off",
    "unicorn/no-process-exit": "off",
    "no-mixed-operators": "off"
  },
  "globals": {
    "requestAnimationFrame": true,
    "document": true
  },
  "plugins": ["jest"],
  "env": {
    "jest/globals": true
  }
}
