body {
  font-family: sans-serif;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

p {
  padding: 0;
  margin: 0;
}

canvas {
  background: white;
  align-self: center;
}

.board {
  display: flex;
  color: black;
  padding: 25px;
}

.board > #score {
  font-weight: bold;
}
